apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
        - name: go-app
          image: refrain96/go-gitops-demo:b50a354
          ports:
            - containerPort: 8080
          env:
            - name: VERSION
              value: "v2.0.0"
      imagePullSecrets:
        - name: my-docker-secret
---
apiVersion: v1
kind: Service
metadata:
  name: go-app-svc
spec:
  type: LoadBalancer
  selector:
    app: go-app
  ports:
    - port: 8088
      targetPort: 8080